:root {
  --bcg-main: #FFFFFF;
  --bcg-hero: #2F303A;
  --primary-text: #757575;
  --header-text: #212121;
  --accent: #2196F3;
  --white-text: #FFFFFF;
  --bcg-button: #F5F4FA;
  --icon-fill: #AFB1B8;
  --icon-bckg-hover: #2196F3;
  --card-overlay: #2196F3E5;
  --backdrop-color: #00000033;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid teal;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo__accent {
  color: #2196F3;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  background-color: #FFFFFF;
}

.page-header__container {
  position: relative;
  display: flex;
}
@media screen and (min-width: 320px) {
  .page-header__container {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    height: 80px;
  }
}

.nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .page-header__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    line-height: 1.19;
    font-size: 26px;
    margin-right: 93px;
  }
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item {
  position: inherit;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-left: 50px;
  }
  .site-nav__item:first-child {
    margin-left: 0;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 12x;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__link {
    font-size: 14x;
    line-height: 1.14;
  }
}
.site-nav__link--current {
  position: relative;
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
    padding: 21px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

.contacts__item {
  display: block;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: #FFFFFF;
  display: none;
}
.menu.is-open {
  transform: translateX(0);
  display: block;
}

.menu__button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767px) {
  .menu__button {
    display: none;
  }
}
.menu__button:hover, .menu__button:focus {
  fill: #2196F3;
}

.menu-header__list {
  margin-top: 48px;
  margin-left: 40px;
}

.menu-header__item {
  margin-bottom: 32px;
}

.menu-header__link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.menu-header__link:hover, .menu-header__link:focus {
  color: #2196F3;
}

.header__link--color {
  color: #2196F3;
}

.menu-contacts {
  margin-left: 40px;
}
@media screen and (min-width: 320px) {
  .menu-contacts {
    margin-top: 200px;
  }
}
@media screen and (min-width: 375px) {
  .menu-contacts {
    margin-top: 200px;
  }
}
@media screen and (min-width: 380px) {
  .menu-contacts {
    margin-top: 250px;
  }
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contacts__item:last-child {
  margin-bottom: 64px;
}

.contacts__link--color {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (min-width: 320px) {
  .contacts__link--color {
    font-size: 30px;
  }
}
@media screen and (min-width: 370px) {
  .contacts__link--color {
    font-size: 34px;
  }
}

.contacts__link--font {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
}

.header__social-list {
  display: inline-flex;
  margin-left: 40px;
}

.header__social-item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.header__social-item:last-child {
  border: none;
}
.header__social-item:first-child {
  margin: 0;
}

.header__social-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (min-width: 320px) {
  .header__social-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 370px) {
  .header__social-link {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  .header__social-link {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) {
  .header__social-link {
    font-size: 18px;
  }
}

.hero-section {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-color: #2F303A;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 320px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-header.jpg);
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-header-2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 760px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-header.jpg);
  }
}
@media screen and (min-width: 760px) and (min-device-pixel-ratio: 2), screen and (min-width: 760px) and (min-resolution: 192dpi), screen and (min-width: 760px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-header-2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-header.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-header-2x.jpg);
    background-size: cover;
  }
}

.page-title {
  margin: 0 auto 30px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .page-title {
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.button {
  margin: 0 auto;
  padding: 10px 32px;
  background-color: var(--accent);
  color: var(--white-text);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 320px) {
  .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
  }
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop.is-hidden .modal {
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--bcg-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 374px) {
  .modal {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 424px) {
  .modal {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 425px) {
  .modal {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close:hover .button-close__icon {
  fill: #2196F3;
}

.js-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 1099px) {
  .js-form__title {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1100px) {
  .js-form__title {
    line-height: 1.15;
  }
}

.js-form__field {
  position: relative;
  margin-bottom: 10px;
  color: #212121;
}

.js-form__label {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.js-form__input {
  z-index: 1;
  margin: 0;
  padding: 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-form__input:hover, .js-form__input:focus, .js-form__input:not(:placeholder-shown) {
  border-color: #2196F3;
}
.js-form__input::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.js-form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  z-index: 2;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.js-form__input:hover + .js-form__icon, .js-form__input:focus + .js-form__icon {
  color: #2196F3;
}

.comment {
  margin-bottom: 20px;
}

.textarea {
  display: block;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.js-form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.js-form__checkbox-label {
  display: inline-block;
  margin-left: 8px;
  line-height: 1.7;
}

.js-form__agreement-link {
  line-height: 1.7;
  text-decoration-line: underline;
  color: #2196F3;
}

.js-form__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.js-form__checkbox-input:checked + .js-form__checkbox-icon {
  fill: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icon.svg/check.svg);
  background-size: contain;
  background-origin: border-box;
}

@media screen and (min-width: 320px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-list__benefits {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .section-list__benefits {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section-list__benefits {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc((100% - 30px) / 3);
  }
}

.benefits__thumb {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    display: flex;
    justify-content: center;
  }
}

.benefits__text {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
  z-index: 1;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.5019607843);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background: #FFFFFF;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team {
  background-color: #F5F4FA;
}
@media screen and (min-width: 320px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 320px) {
  .team-title {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__section-list {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .team__section-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__section-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
    flex-basis: calc((100% - 30px) / 4);
  }
  .team__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .team__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

.team__card {
  padding: 30px 0px;
}

.team__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team__position {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 320px) {
  .clients-title {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__ssection-list {
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .clients__ssection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .clients__ssection-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.clients__item {
  fill: #afb1b8;
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}
@media screen and (min-width: 320px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}
.clients__link:focus .clients__logo, .clients__link:hover .clients__logo {
  fill: #2196F3;
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.page-footer {
  background-color: #2F303A;
}
@media screen and (min-width: 320px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .page-footer__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 320px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-left: 76px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
  }
}

.contacts-title {
  display: none;
}

.contact-list {
  display: inline-block;
  list-style-type: none;
  font-style: normal;
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .contact-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list__link {
  color: rgba(255, 255, 255, 0.6);
}

.contact-list__text {
  color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  .join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin: 0;
  }
}

.join__text {
  display: block;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-social {
  display: flex;
}
@media screen and (min-width: 320px) {
  .join-social {
    justify-content: center;
  }
}

.social__link--inverse {
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--inverse {
  fill: #FFFFFF;
}

.subscription {
  margin-left: auto;
}
.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .subscription__js-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__js-form {
    display: flex;
  }
}

.subscription__form-field {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .subscription__form-field {
    max-width: 450px;
  }
}

.subscription__input {
  padding: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
@media screen and (min-width: 320px) {
  .subscription__input {
    min-width: 288px;
  }
}
@media screen and (min-width: 375px) {
  .subscription__input {
    min-width: 340px;
  }
}
@media screen and (min-width: 420px) {
  .subscription__input {
    min-width: 390px;
  }
}
@media screen and (min-width: 480px) {
  .subscription__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.subscription__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus + .subscription__label {
  display: none;
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .subscription__button {
    margin-top: 20px;
  }
}

.subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.buttons-list {
  outline: invert;
  display: flex;
}
@media screen and (min-width: 320px) {
  .buttons-list {
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 425px) {
  .buttons-list {
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
  }
}

.buttons-list__filter {
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  border: 0mm;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list__filter:hover, .buttons-list__filter:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 424px) {
  .buttons-list__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .buttons-list__item:nth-child(n+4) {
    margin-bottom: 0;
  }
  .buttons-list__item:nth-child(4), .buttons-list__item:nth-child(5) {
    margin: 0;
  }
}
@media screen and (min-width: 425px) {
  .buttons-list__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .buttons-list__item:nth-child(n+3) {
    margin-bottom: 0;
  }
  .buttons-list__item:nth-child {
    margin-right: 0;
  }
}

.card-set--portfolio {
  gap: 30px;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .card-set--portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-set__item {
  margin: 0px;
  display: block;
  padding: 0px;
  background: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .card-set__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.card-set__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #757575;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 320px) {
  .card-set__link {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 480px) {
  .card-set__link {
    width: 100%;
    height: 100%;
  }
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set--flex {
  flex-grow: 1;
}

.card-set__content {
  padding: 20px 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #EEEEEE;
  border-top-style: none;
}

.card-set__heading {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  opacity: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: rgba(33, 150, 243, 0.8980392157);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover .card-set__overlay, .card-set__link:focus .card-set__overlay {
  transform: translateY(0%);
  opacity: 1;
}
@media screen and (min-width: 320px) {
  .card-set__overlay {
    line-height: 1.1256;
    padding: 22px 24px;
  }
}
@media screen and (min-width: 375px) {
  .card-set__overlay {
    line-height: 1.256;
    padding: 65px 24px;
  }
}
@media screen and (min-width: 425px) {
  .card-set__overlay {
    line-height: 1.56;
    padding: 75px 34px;
  }
}
@media screen and (min-width: 480px) {
  .card-set__overlay {
    line-height: 1.56;
    padding: 77px 24px;
  }
}

.card-set__overlay-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */