.page-footer {
    // padding: 60px 0;

    background-color: $bcg-hero;

    @media screen and (min-width: 320px) {
            padding-top: 60px;
            padding-bottom: 60px;
    }
}

.page-footer__container {
    // 
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
            display: flex;
    }
}

.flex-container {
    @media screen and (min-width: 768px) {
            display: flex;
            margin-bottom: 60px;
        }
    
    @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
}

.page-footer__logo {
    margin-bottom: 20px;

    color: $white-text;

    @media screen and (min-width: 320px) {
            font-size: 24px;
            line-height: 1.16;
        }
    
    @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
        }
}

.footer-contacts {
    @media screen and (min-width: 320px) {
            margin-bottom: 60px;
        }
    
    @media screen and (min-width: 768px) {
            margin-left: 76px;
            margin-bottom: 0;
        }
    
    @media screen and (min-width: 1200px) {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 70px;
        }
}



