.page-title {
        margin: 0 auto 30px;
        text-align: center;
        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white-text;
    
        @media screen and (min-width: 320px) {
            font-size: 26px;
            line-height: 1.61;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            width: 696px;

        }
}

