.subscription {
    // padding-top: 12px;
    margin-left: auto;
    
        @media screen and (min-width: 320px) {
    }
}

.subscription__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-text;
}

.subscription__js-form {
    // 

    @media screen and (max-width: 1199px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.subscription__form-field {
    
    position: relative;

    @media screen and (max-width:1199px) {
        max-width: 450px;
    }
}

.subscription__input {
    // width: 358px;
    // height: 50px;
    padding: 16px;

    font-size: 16px;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;

    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }

    @media screen and (min-width: 320px) {
            min-width: 288px;
        }
    
        @media screen and (min-width: 375px) {
            min-width: 340px;
        }
    
        @media screen and (min-width: 420px) {
            min-width: 390px;
        }
    
        @media screen and (min-width: 480px) {
            min-width: 450px;
        }
    
        @media screen and (min-width: 1200px) {
            min-width: 358px;
            margin-right: 12px;
        }
}

// .subscription__label {
//     position: absolute;
//     top: 50%;
//     left: 16px;

//     transform: translateY(-50%);

//     font-size: 16px;

//     color: rgba(255, 255, 255, 0.6);

//     .subscription__input:focus+& {
//         display: none;
//     }
// }

// .input-mail:focus+.mail-label {
//     display: none;
// }

.subscription__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    @media screen and (max-width:1199px) {
        margin-top: 20px;
    }
}

.subscription__icon {
    margin-left: 10px;
    fill: currentColor;
}
