:root {
    --bcg-main: #FFFFFF;
    --bcg-hero: #2F303A;
    --primary-text: #757575;
    --header-text: #212121;
    --accent: #2196F3;
    --white-text: #FFFFFF;
    --bcg-button: #F5F4FA;
    --icon-fill: #AFB1B8;
    --icon-bckg-hover: #2196F3;
    --card-overlay: #2196F3E5;
    --backdrop-color: #00000033;
}

$bcg-main: #FFFFFF;
$bcg-hero: #2F303A;
$primary-text: #757575;
$header-text: #212121;
$accent: #2196F3;
$white-text: #FFFFFF;
$bcg-button: #F5F4FA;
$icon-fill: #AFB1B8;
$icon-bckg-hover: #2196F3;
$card-overlay: #2196F3E5;
$backdrop-color: #00000033;


